{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row homepageheader">
        <div class="col-md-offset-3 col-md-6 overlaytext">
            <h1>Welcome to Ubermelon Careers</h1>
        </div> <!-- /.col-sm-offset-4 .col-sm-4 .overlaytext -->
    </div> <!-- /.row .homepageheader -->
</div> <!-- /.container-fluid -->

<div class="container">
    <div class="row">
        <div class="col-sm-12 homepagesectionheader">
            <h2>Our Culture</h2>
        </div> <!-- /.col-sm-12 homepagesectionheader -->
    </div> <!-- /.row -->
    <div class="row">
        <div class="col-sm-12 col-md-6 homepagesectioncontent">
            <h4>Ubermelon is seeking thinkers, builders, and relentless doers. Our team is passionate, collaborative, and courageous. If that sounds like you, we’d like to hear from you.</h4>
        </div> <!-- /.col-sm-12 homepagesectioncontent-->
        <div class="col-sm-12 col-md-6 homepagesectioncontent">
            <h3>"Every new member of the team changes what Ubermelon is and what it will become."</h3>
            <p>- Mel Melitpolski, Engineering Manager</p>
        </div> <!-- /.col-sm-12 homepagesectioncontent-->
    </div> <!-- /.row -->
    <div class="row">
        <div class="col-sm-12 homepagesectionheader">
            <h2>Careers at Ubermelon</h2>
        </div> <!-- /.col-sm-12 homepagesectionheader -->
    </div> <!-- /.row -->
    <div class="row">
        <div class="col-sm-12 col-md-offset-4 col-md-4 homepagesectioncontent">
            <a href="/application-form" class="btn btn-lg btn-info" role="button">Visit Our Application Form</a>
        </div> <!-- /.col-sm-12 homepagesectioncontent-->
    </div> <!-- /.row -->

</div> <!-- /.container -->

{% endblock %}